fastapi
uvicorn

#for template 
jinja2

#for static files
aiofiles

# database
sqlalchemy
psycopg2

#for loading environment variables 
python-dotenv

# email validation
pydantic[email]

# password hashing
passlib[bcrypt]